body{
  margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./coworking-1.jpg);
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-position: relative;
    overflow-x: hidden;
    font-family: 'Inter', 'Arial', sans-serif;
  }
  
  .form-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    max-width: 720px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin: 60px auto 0px auto;
    color: white;
    padding: 10px 35px;
  }

  .form{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding: 20px;
    border-radius: 10%;
    border: 1px solid #ccc;
  }

  form input,
  form select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group {
    margin-bottom: 10px;display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
     background-color: #eee;
  }
  
  label {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  input[type="date"],
  input[type="time"],
  textarea {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"],
  button[type="reset"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .error {
    color: white;
    background-color: red;
    border: 1px solid #f27a7a;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }